

@import url(https://fonts.googleapis.com/css?family=Bigelow+Rules|Goblin+One|IM+Fell+French+Canon+SC|Miltonian|Monoton);

.roomList {
  font-family: 'Goblin One', cursive;
  font-size: 75%;
  width: 130px;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding-top:20px;
  height: 100%;

}

.submit{
  font-family: 'IM Fell French Canon SC', serif;
  font-size: .25em;
   border: none;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 4px 2px;
   border-radius: 50%;
}




