@import url(https://fonts.googleapis.com/css?family=Bigelow+Rules|Goblin+One|IM+Fell+French+Canon+SC|Miltonian|Monoton);

.App {
  text-align: center;
  font-size: 1em;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  font-family: 'IM Fell French Canon SC', serif;
  color: white;
  text-align: center;
  font-size: 2em;
  height: 50px;
  padding: 20px;
 background-image:url(https://res.cloudinary.com/scarlettbrooke1221/image/upload/v1534036683/createherstock-bday-social-bonus-neosha-gardner-022.jpg) ;
  background-size: 275px, 75px;
  background-repeat: repeat-x;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p{
  font-family: 'Goblin One', cursive;
  font-size:  100%;
}

